
{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
		<!-- <div class="extra-section">
			<div id="pass-reco">
                <h1>Recover your password</h1>
                <input type="email" placeholder="enter your email adress">
                <small></small>
                <button type="submit">Submit</button>
			</div>
    </div> -->
    <!-- <div class="extra-section" id="pass-reco">
      <label for="email"> Email Address <small class="Must"> *</small></label><br>
      <input name="email" id="email" type="email" placeholder="email adress" class="form-control">
      <span id="emails" class="text-danger">  </span>
    </div> -->
    <div class="extra-section">
      	<div id="pass-reco">
          <h1>Recover your password</h1>
    <form action="", method="POST">
    {% csrf_token %}
    {{form}}

    <input type="submit" name= "Send email">
  </form>
  	</div>
    </div>
{% endblock %}