{% extends 'pages/index.html' %}

{% block content %}
<h2>Enter new password</h2>
<form  method="POST">
    {% csrf_token %}
    {{form}}

    <input type="submit" name= "Update Password">
</form>

{% endblock %}


<!-- <div class=" container extra-section">
    <div id="new-pass">
        <h1>Create a new password</h1>
        <form class="newpass-form" action="#">
            <div class="form-group">
                <label for="pass1">New password <small class="Must"> *</small></label> <br>
                <input name="pass1" id="pass1" type="password" placeholder="New password" class="form-control">
                <span id="passwords" class="text-danger">  </span>
            </div>
            <div class="form-group">
                <label for="pass2">Confirm Password <small class="Must"> *</small></label><br>
                <input name="pass2" id="pass2" type="password" placeholder="Confirm Password" class="form-control">
                <span id="repass" class="text-danger">  </span>
            </div>
            <button class="signup-btn" type="submit">Create</button>
        </form>
    </div>
</div>
<style>
#new-pass label{
    float:left !important;
}
#new-pass input{
    width: 670px;
}
#new-pass .newpass-form{
    margin-top: 25px;
    padding-left: 15px;
}
</style> -->