{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
		<!-- SECTION -->
		<div class="extra-section">
			<div id="about-us">
				<h1>About-Us</h1>
				<p>
					Our site started with a vision to sell our product to the customer online. Yet, we were encouraged to start not just a company but an ecommerce industry that would have a significant impact in Nepal’s economy for generations to come. We started with a small shop in Dhaneswor where all kind of electrical product are available, and we thought to expand our product by selling online and make our customer fell easy to buy any product related to electrical item. Today we sell our product online in different parts of kathmandu valley. Our goal is to ensure that our users and customers can buy products at affordable prices, get their products delivered as assured, and on time regardless of their location. We are growing day by day. so be in touch to buy new product with different offers. 
				</p>			
				<h1>Our Vision</h1>
				<p>
					Our vision is to sell our product in wholesale market price to the customers. 
				</p>			
			</div>
		</div>
{% endblock content %}