{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
		<!-- SECTION -->
		<div class="extra-section">
			<div id="contact-us">
                <h2> contact us </h2>
                <p class="bold">For Customer Service :-</p>
                <p>Call US At :- +977 9841416262</p>
                <p>Visit :- Dhaneswor, KTM</p>
                <p class="bold">Sampanna Light House Customer Service Hours :</p>
                <p>Saturday: 9 AM to 5 PM (Call Center) | 9 AM to 11 PM (Social Media)</p>
                <p> Sunday - Friday: 7 AM to 7 PM (Call Center) | 9 AM to 11 PM (Social Media)<br><small>(Fell free to contact)</small></p>
                <p class="bold">you can also mail at:</p>
                <p> <a href="#">support@lighthouse.com </a> </p>
			</div>
		</div>
{% endblock content %}