{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
<div class="extra-section">
    <div id="terms-condition">
        <h2><strong>Return & Refund Policy</strong></h2>
        <p>Read this policy clearly while returning the product. To minimize the fraud</p>
        <p>Returns are the provision by the sellers under different category where the option of return & refund is provided to you by the respective sellers. The return policy may not be same for all the product under a different product category.  The product which are under warranty period will be redirected to service center, return & refund policies will not be eligible for such products. You can refer to the product page for the applicable return policy.</p>
        <p>Valid reasons to return an item:- </p>
        <ul>
            <li>If the Delivered Product is damaged/defective (physically damaged or broken)</li>
            <li>If the Delivered Product is incorrect / incomplete (missing product or wrong product/ different from the product presented on website) </li>
            <li>If the size of fashion product doesn’t fit. (wrong/different size)</li>
        </ul>
        <h3><strong>Return cycle & Pickup period </strong></h3>
        <p>The return request must be initiated within 7 days of product return cycle and for damaged/defective products the return request must be initiated within 3 days of receiving the product. After the return request is accepted, product is picked within 3 days after the return request is accepted for inside valley. For outside valley the period may extend to 7 days. After the item has been picked up Sastodeal will quality check the product and based on the outcome will be processed for refund or notifying the customer on any issue encountered.  </p>
        <p>M Note: For outside valley returns, customer needs to drop the product at the Aramex pickup location.</p>
        <h3><strong>Returns Pick-Up and Processing</strong></h3>
        <p>For returns, the address can only be changed if the pick up service is available at the new address. </p>
        <p>During pick-up, your product will be checked for the following conditions: </p>
        <table>
            <tr>
                <th>Categories</th>
                <th class="space no-bottom">Conditions</th>
            </tr>
            <tr>
                <td>Correct Product </td>
                <td class="space">	
                    Product name/IMEI/ image/ brand/ serial number/ article number/ bar code should match and MRP tag should be undetached and clearly visible. </td>
            </tr>
            <tr>
                <td>Complete Product </td>
                <td class="space">	
                    All in-the-box accessories (like remote control, Accessories/ its parts eg: lid or covers, sponge etc/starter kits, instruction manuals, chargers, headphones, etc.), freebies and combos (if any) should be present. </td>
            </tr>
            <tr>
                <td>Unused Product</td>
                <td class="space">	    	
                The product should be unused, unwashed, unsoiled, without any stains and with non-tampered quality check seals/return tags/warranty seals (wherever applicable). Before returning a Mobile/ Laptop/ Tablet, the device should be formatted and Screen Lock (Pin, Pattern or Fingerprint) must be disabled. iCloud lock must be disabled for Apple devices.        
                </td>
            </tr>
            <tr>
                <td>Undamaged Product</td>
                <td class="space">	    	
                    No any physical damage/ no any physical deformation of the product/ there should not be scratches/ the perishable goods should not be damaged/ no any tears or holes in any kind of fabric materials/ no any crack is breakage in any glasswares and transparent plastic materials or PVA plastic/ no any wires disconnections/ the electronic product should be functioning.         
                </td>
            </tr>
            <tr>
                <td>Undamaged Packaging</td>
                <td class="space">	    	
                    Product's original packaging/ box should be undamaged/the cover should not be tore/ the labelling and price tags should remain as it was before.         
                </td>
            </tr>
            <tr>
                <td >VAT/PAN Bill</td>
                <td class="space">	    	
                    Product should be returned with VAT/ PAN bill if provided by the vendor.          
                </td>
            </tr>
        </table>
        <p>The field executive has the right to refuse to accept the return if any of the above conditions are not met. </p>
        <p>The refund will be processed once the product is picked and quality checked by lighthouse.com :</p>
       
        <h3><strong>Shipping charge refund </strong></h3>
        <ul>
            <li>If the refund is initiated due to “no longer needed” &  “change of mind” -then the shipping charge will not be refunded </li>
            <li>If the refund is initiated due to wrong/defective/damaged/quality issue then the shipping charge will be refunded. </li>
        </ul>
    </div>
</div>
{% endblock %}